<!doctype html>
<html ng-app="errorApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <style type="text/css">
    	body{
    		font-family: 'VT323';
    		font-size: 1.2em;
    	} 
    	h4{
    		font-size: 1.0em;
    	}
    	ul{
    		list-style-type: none;
    	} 
    	.container{
    		margin-top: 42px;
    	}

    </style>
  </head>
  <body ng-controller="appController">
    <div class="container">
    	<select ng-model="currentUrl" ng-options="url as url for url in pages">
    		<option value="">Filter by URL</option>
    	</select>

    	
    	<ul>
    		<li ng-repeat="item in items | orderBy: '-dateRecorded'">
    			<h4>{{item.errorMsg}}  -  {{item.dateRecorded | date :'M/d/yy h:mm:ss a'}}</h4>
    			<p>{{item.error}} <span class="glyphicon glyphicon-play" aria-hidden="true"></span></p>

<!--     			want to implement
    			http://www.prepbootstrap.com/bootstrap-template/collapsepanels -->

    		</li>
    	</ul>     
    </div>
    <script type="text/javascript">
    	angular.module('errorApp', [])
    		.controller('appController', function($scope,$http) {    			
    			$scope.items = [];
    			$scope.pages = [];
    			$scope.options = ['http://localhost/error-logging/trunk/'];

    			$http.get("http://ads.coast.noaa.gov/app/errors")
    			   .then(function(response) {    			       
    			       $scope.items = response.data;
    			       getURLS();
    			   });

    			function getURLS() {
    				$scope.items.forEach(function(item){    					
    					if(!_.contains($scope.pages, item.url))$scope.pages.push(item.url)
    				})
    			}   




    		});



    </script>
  </body>
</html>









<!--<!DOCTYPE html>
<html>
	<body>
		<ul id="list">
		</ul>
	</body>
	<script type="text/javascript">

			var service = "http://localhost:4017/app/errors";
			var errorjson = [];

			var ul = document.getElementById("list");

			function init() {
			    var xhr = new XMLHttpRequest();
				xhr.open("GET", service, true);
				xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				xhr.send();
				xhr.onreadystatechange = function() {
				    if (xhr.readyState == XMLHttpRequest.DONE) {					       
				        parseData(xhr)
				    }
				}			        
			}

			function parseData(data) {				
				errorjson = JSON.parse(data.response);

				errorjson.forEach(function(item){					
					var li =  document.createElement("li");
					li.appendChild(document.createTextNode(item.errorMsg));
					li.setAttribute("id", item._id);					
					ul.appendChild(li);
				})

			}

			window.onload = init;

	</script>
</html> -->







